.DS_Store
classtest.fla
classtest.swf
partigentest.fla
partigentest.swf
partigentestbasics.fla
partigentestbasics.swf
partigensmoketest.fla
partigensmoketest.swf
asdoc-output
examples/dmp_controllers.swf
examples/dmp_physics.swf
examples/dmp_sequence.swf
examples/dmp_tweens.swf
examples/partigen_intro.swf
xmlformat.xml
stageflowtest.fla
stageflowtest.swf
docs